/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  padding: 50px;
  top: 0;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.spotify-logo {
  width: 250px;
  height: 100px;
}

.nav-links {
  display: flex;
  align-items: flex-end;
  align-content: space-around;
  flex-direction: row;
  gap: 15px;
            /* Añade espacio interno alrededor de la frase */  /* Asegura que el span se comporte como un bloque */

}

.img-back {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../images/landing.jpg");
  width: 100vw;
  height: 600px;
}

header {
  justify-content: center;
}

h1 {
  display: flex;
  font-size:75px;
  font-family: system-ui, sans-serif;
  padding: 10px;
  margin-bottom: 0px;
  word-spacing: 15px;
  color: white;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

h2{

  font-family: system-ui, sans-serif;

}

h2 {
  display: flex;
  margin-top: 0px;
  font-size:200px;
  color:white;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  flex-direction: column;
  
}

h3 {
  align-items: center;
  text-align: center;
  font-size: 30px;  
  text-decoration: black;    
  color: black; 
  text-decoration: underline;       /* Aplica el subrayado al texto */
  text-decoration-color: green; 
  margin: 50px;
  font-family:  system-ui, sans-serif;
}

.box-container {
  display: flex; 
  gap: 20px; 
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  

}


.box {
  background-color: #ffffff; /* Color de fondo de cada caja */
  border: 2px solid yellow; /* Borde suave alrededor de cada caja */
  padding: 1px; /* Espacio interno alrededor del contenido de cada caja */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  width: 200px; 
  text-align: center; 
  border-radius: 10px; 
}

h4 {
  color: green;
  font-family:  system-ui, sans-serif;
}

.logo {
  width: 80px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto; /* Mantiene la proporción del logo */
  margin-bottom: 15px; /* Espacio debajo del logo */
}

.container {
  margin-top: none;
  font-size: 30px;
  background-color: green;
  color:white
  
}

h5 {
  align-items: stretch;
  gap: none;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  font-size: 30px;
  color: white;
  font-family:  system-ui, sans-serif;
}

p {
  font-size: 20px;
  color:white
  font-family:  system-ui, sans-serif;

}

.spotify-logo-alone {
  display: flex;
  width: 140px;
  width: 140px;
  margin-left: 1200px;
}

.spotify-app {
  display: flex;
  position: relative;
  margin-left:1600px;
  

  
}